In [1]:
#buying mobile phone

In [4]:
bud=int(input("Enter budget:"))
mobile=30000
if (bud>=mobile):
  print("the mobile is in budget")
else:
  print("the mobile is not in budget")

Enter budget:12000
the mobile is not in budget

In [6]:
#price of storage
st=int(input("enter storage:"))
if st==32:
  print("price is rs 15000")
elif st==64:
  print("price is rs 20000")
elif st==128:
  print("price is rs 30000")
elif st==256:
  print("price is rs 40000")
else:
  print('Not Available')

enter storage:135
Not Available

In [12]:
sc1=int(input("Enter score in 1st round:"))
if sc1>=80:
  print('selected for 2nd round')
  sc2=int(input("Enter score in 2nd round:"))
  if sc2>=70:
    print('selected for 3rd round')
    sc3=int(input("Enter score in 3rd round:"))
    if sc3>=60:
      print('Selected!!!')
    else:
      print('Rejected')
  else:
      print('Rejected')
else:
      print('Rejected')

Enter score in 1st round:85
selected for 2nd round
Enter score in 2nd round:96
selected for 3rd round
Enter score in 3rd round:98
Selected!!!

In [19]:
#print group
st=int(input("enter marks:"))
if st>=80:
  print("Group 1")
elif st<80 and st>=60:
  print("Group 2")
elif st<60 and st>=40:
  print("Group 3")
else:
  print('not in any group')

enter marks:39
not in any group

In [21]:
#login system
username=input("Enter username:")
if username=="admin":
  password=input("Enter password")
  if password=="12345":
    print("Login successful")
  else:
    print("incorrect password")
else:
  print("incorrect username")

Enter username:admin
Enter password12345
Login successful

In [24]:
price=40000
#without loop discount
price=price-(price/100)*5
print ("5%",price)
price=price-(price/100)*10
print ("10%",price)
price=price-(price/100)*15
print ("15%",price)
price=price-(price/100)*20
print ("20%",price)

5% 38000.0
10% 34200.0
15% 29070.0
20% 23256.0

In [25]:
#with loop
price=40000
for i in range(5,21,5):
  price=price-(price/100)*i
  print ("5%",price)

5% 38000.0
5% 34200.0
5% 29070.0
5% 23256.0

In [27]:
#while loop
price=40000
i=5
while(i<21):
  price=price-(price/100)*i
  print (i,"%",price)
  i+=5

5 % 38000.0
10 % 34200.0
15 % 29070.0
20 % 23256.0

In [28]:
#multiplication using for loop
table=int(input("Enter number:"))
for i in range(1,11):
  print(table,"*",i,'=',table*i)

Enter number:2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [30]:
#using while
table=int(input("Enter number:"))
i=1
while(i<11):
  print(table,"*",i,'=',table*i)
  i+=1

Enter number:2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20